@{
    ViewData["Title"] = "Polls";
}

<div class="text-center">
    <h1 class="display-4">Polls App</h1>
    <h3 class="display-7">A Simple Polling app for the Enterprice Programming Unit</h3>
</div>
